<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="height: 100%; margin: 0">
<div style="height: 100%">
    <el-row style="height: 500px">
        <div id="editor_holder" style="height: 300px"></div>
        <button id="submit">Submit</button>
    </el-row>
    <el-row>
        <el-input v-model="contractId" placeholder="合同号"></el-input>
    </el-row>
    <el-row>
        <button id="graph">关系图</button>
        <div id="main" style="height: 5000px"></div>
    </el-row>
</div>

<!--公司信息录入框-->
<div class="modal fade" tabindex="-1" role="dialog" id="companyModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                新公司信息录入
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="companyCapital" placeholder="该公司注册资本">
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/json-editor/0.7.28/jsoneditor.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/dagre/0.8.2/dagre.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.4.11/index.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.2.0/js/modal.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.2.0/js/button.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    //    *  el-input values

    /*
     *json editor
     */
    var editor = new JSONEditor(document.getElementById('editor_holder'), {
        schema: {
            type: "object",
            properties: {
                contractId: {
                    type: "string"
                },
                partyAName: {
                    type: "string"
                },
                partyBName: {
                    type: "string"
                },
                amount: {
                    type: "string"
                }
            }
        }
    });
    const domain = 'http://localhost:8398'

    // 单击submit按钮触发事件
    document.getElementById('submit').addEventListener('click', function () {
        // 获取生成的json字符串
        editor.getValue().amount = parseFloat(editor.getValue().amount)
        $.ajax({
            url: domain + '/contract/createContract',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify(editor.getValue()),
            dataType: 'json',
            success: function (res) {
//                alert(res);
            }
        })
    });


    /*
     *关系图
     *
     */

    // 单击graph按钮触发事件

    let chart = echarts.init(document.getElementById('main'));
    let companyCapital={}

    document.getElementById('graph').addEventListener('click', function () {
        axios.get(domain + '/graph/getLinks').then(function(res){
            var linkData=res.data.obj;
            const companyLinks=[];
            for(let l of linkData){
                let link={}
                link['source']=l.partyAName;
                link['target']=l.partyBName;
//                link['name']=Number(l.linkWeight);
//                link['weight']=Number(l.linkWeight);
                link['value']=Number(l.linkWeight);
                companyLinks.push(link);
            }
//            console.log(companyLinks);
            //获取所有公司节点
            axios.get(domain + '/graph/getAllCompanies').then(function(res){
                let companyData = res.data.obj;

                const nodes = [];
                for(let co of companyData){
                    let node= {}
                    node['name']=co.companyName
                    node['draggable']='true'
                    if(co.capital!=0){
                        node['symbolSize']=co.nodeWeight/300
                        node['value']=co.capital
                        node['category']=1
                    }else{
                        node['symbolSize']=20
                        node['value']=20
                        node['category']=0
                    }
                    nodes.push(node)
                    console.log(node)

                }
                chart.setOption({
                    title: {
                        // text: "企业节点关系",
                        // subtext: "ZBH",
                        top: "top",
                        left: "center"
                    },
                    tooltip: {},
                    toolbox: {
                        show: true,
                        feature: {
                            dataView: {
                                show: true,
                                readOnly: true
                            },
                            restore: {
                                show: true
                            },
                            saveAsImage: {
                                show: true
                            }
                        }
                    },
                    animationDuration: 3000,
                    animationEasingUpdate: 'quinticInOut',
                    series: [{
                        name: '企业关系',
                        type: 'graph',
                        layout: 'force',

                        force: {
                            repulsion: 300
                        },
                        categories:[
                            {
                                name:'新录入公司',
                                itemStyle: {
                                    normal: {
                                        color: "#c9c9c9"
                                    }
                                }
                            },
                            {
                                name:'既有公司',
                                itemStyle: {
                                    normal: {
                                        color: "#173e43"
                                    }
                                }
                            }
                        ],
                        data: nodes,
                        links: companyLinks,
                        focusNodeAdjacency: true,
                        roam: true,
                        label: {
                            normal: {
                                show: true,
                                position: 'top',

                            }
                        },
                        lineStyle: {
                            normal: {
//                                color: 'source',
                                curveness: 0,
                                type: "solid"
                            },
                            formatter:'{b}',
                        },
                        edgeLabel: {
                            normal: {
                                show: false,
                                textStyle: {
                                    fontSize: 10
                                }
                            },
                            formatter:'{c}'
                        },
                    }]
                });
            });
        });
    });

    chart.on('click',function(params){
        console.log(params)
//        $('#companyModal').modal('show')
        $('#companyModal').modal({show:true,backdrop:false});
//        $('#companyCapital_input').
//        if(params.data.category==0){
//            axios.post(domain+'/graph/updateCompany',{
//                data:0
//            })
//        }
    })



</script>
</body>
</html>